	<object>
						<param name="movie" value="slide.swf">
						<embed src="../images/slide.swf" width="800" >
						</embed>
					</object>	
					<br/>
					<br/>
					<br/>
					<br/>
					
<h2>História Signature</h2>
<p class="principal">A SIGNATURE SURF SHOP inaugura em Parna&iacute;ba sua primeira loja.
O nosso objetivo n&atilde;o s&oacute; consistir&aacute; na venda de produtos life style, 
como tamb&eacute;m acredita poder ajudar na conscientiza&ccedil;&atilde;os nossos jovens
para preserva&ccedil;&atilde; da natureza, com olhar atento ao aquecimento global e 
ao valor da reciclagem.Tentaremos contribuir, inovar, servir e deslizar na 
onda da MODA COM ESTILO. A loja possui ambiente climatizado,videos, revistas
 e produtos exclusivos de Mercado. Agradecemos a todos que colaboraram de alguma
 forma com a concretiza&ccedil;&atilde;o este sonho.
</p>
